<div class="backdrop is-hidden" data-modal id="bcd">
  <div class="modal modal-reg">
    <button class="btn-close" data-modal-close-reg>
      <svg fill="#212121" class="btn-close__icon" width="21" height="21">
        <use href="./images/icon-sprites.svg#close">

        </use>
      </svg>
    </button>
    <div class="form">
      <form class="modal-form" id="auth-form">
        <p class="modal-form__title page-header__nav-link">Registration
        </p>
                  
     
        <div class="modal-form__field">

          <label for="email"><span class="modal-form__label">Email</span></label>
          <input type="text" name="email" placeholder="user@gmail.com" class="modal-form__input ml page-header__search-input" id="email">
        </div>

        <div class="modal-form__field">

          <label for="psw"><span class="modal-form__label">Password</span></label>
          <input type="text" name="psw" placeholder="user123456" class="modal-form__input ps " id="psw">
          </div>
           <div class="fb-button">
            <button type="submit"  class="fb btn category__btn " id="sing-up" >Sing Up</button>
        <button type="submit" class="btn category__btn fb" id="login">Login</button>
           </div>                    
        
      </form>
    </div>
  </div>
</div>
       
 
<div class="backdrop is-hidden" data-modal-user >
  <div class="modal modal-reg ">

    <button class="btn-close" data-modal-close>
      <svg fill="#212121" class="icon category__icon--up" width="21" height="21">
        <use href="./images/icon-sprites.svg#close">
        </use>
      </svg>
    </button>
    <div class="form ">
      <form class="modal-form" id="log-form">
        <p class="modal-form__title">User </p>
<div class="user-btn"> 
  <a href="./favorites.html" class="navbar-mobile__link">
    <div class="navbar-mobile__icon-wrapper">
        <svg width="18" height="18" class="navbar-mobile__icon">
            <use href="./images/icon-sprites.svg#heart_contur"></use>
        </svg>
    </div>
    Favorite
</a>


  <button type="submit" class="button-form fb btn category__btn" id="login-btn">Log out</button>
</div>
        
      </form>
    </div>  
   </div>
 </div>
