<!-- Path to images as from index.html file -->
<header class="page-header">
    <div class="container header__wrap">
        <a href="#" class="logo">News</a>
        <nav class="page-header__nav">
            <ul class="nav__list--mobile">
                <li class="nav__item js-search-input"><a class="nav__link js-search" href="">
                        <svg class="header__icon" width="20px" height="20px">


                            <use href="./images/icon-sprites.svg#bx_search"></use>

                        </svg>
                    </a></li>

                <li class="nav__item"><a class="nav__link js-menu-open" href="">
                        <svg class="header__icon" width="24px" height="24px">

                            <use href="./images/icon-sprites.svg#menu"></use>

                        </svg>
                    </a></li>
            </ul>

            <ul class="page-header__nav-list--tablet-desk">
                <li class="page-header__nav-item"><a class="page-header__nav-link" href="#">Home</a></li>
                <li class="page-header__nav-item"><a class="page-header__nav-link" href="#">Favorite</a></li>
                <li class="page-header__nav-item"><a class="page-header__nav-link" href="#">Read</a></li>
            </ul>
        </nav>

        <input type="search" placeholder="Search" class="page-header__search-input">

        <label class="theme-toggle">
            <span>
                <svg class="theme__icon" width="21px" height="21px">

                    <use href="./images/icon-sprites.svg#sun"></use>

                </svg>
            </span>
            <input type="checkbox" checked>
            <span class="slider round"></span>
            <span>
                <svg class="theme__icon" width="21px" height="21px">

                    <use href="./images/icon-sprites.svg#moon"></use>

                </svg>
            </span>
        </label>
    </div>
</header>