<!-- Path to images as from index.html file -->
<header class="page-header">
  <a href="#" class="logo">News</a>
  <nav class="page-header__nav">
    <ul class="page-header__nav-list">
        <li class="page-header__nav-item"><a class="page-header__nav-link" href="#">Home</a></li>
        <li class="page-header__nav-item"><a class="page-header__nav-link" href="#">Favorite</a></li>
        <li class="page-header__nav-item"><a class="page-header__nav-link" href="./read.html">Read</a></li>
    </ul>
  </nav>
  <input type="search" placeholder="Search" class="page-header__search-input" />
  <label class="theme-toggle">
    <span class="theme-name">Light</span>
    <input type="checkbox" checked />
    <span class="slider round"></span>
    <span class="theme-name">Dark</span>
  </label>
</header>
