<main>
  <section class="category">
    <ul class="category__list">
      <!-- <li class="category__item">
        <button class="category__btn">Admin</button>
      </li>
      <li class="category__item">
        <button class="category__btn">Arts</button>
      </li>
      <li class="category__item">
        <button class="category__btn">Automobiles</button>
      </li>
      <li class="category__item">
        <button class="category__btn">Books</button>
      </li>
      <li class="category__item">
        <button class="category__btn">Briefing</button>
      </li>
      <li class="category__item">
        <button class="category__btn">Business</button>
      </li> -->

      <li class="category__item">
        <button class="category__btn btn" class="js-open-list list-toggle list-toggle--open" aria-expanded="false"
          aria-controls="list-menu">
          Others
          <svg class="icon category__icon--up" width="14" height="14">
            <use href="../images/icon-sprites.svg#Frame-11"></use>
          </svg>
          <svg class="icon category__icon--down" width="14" height="14">
            <use href="../images/icon-sprites.svg#Frame-12"></use>
          </svg>
        </button>
      </li>
    </ul>
    <div class="list-container js-list-container" id="category-rest">
      <div class="rest__wrapper">
        <ul class="rest__list list">
          <li></li>
        </ul>
      </div>
    </div>

    <div class="calendar">
      <p>Search date news</p>
      <div class="input-wrapper">
        <input type="text" class="calendar__input" name="name" id="" placeholder="Виберіть дату..." />
        <svg class="input-icon" width="20" height="20">
          <use href="../images/Frame.svg"></use>
        </svg>
        <svg class="" width="20" height="20">
          <use href="../images/Frame-11.svg"></use>
        </svg>
      </div>
      <div class="calendar__body">

        <button type="button" id="calend-btn">Кнопка</button>

        <svg width="7px" height="12px">
          <use href="../images/chevron.forward.small.svg"></use>
        </svg>
        <div class="calendar-arrows">
          <svg width="9" height="18">
            <use href="../images/chevron.backward.svg"></use>
          </svg>
          <svg width="9" height="18">
            <use href="../images/chevron.forward.svg"></use>
          </svg>
        </div>
        <div class="calendar__dates-wrapper">
          <ul class="calendar__header">
            <li><span>Mo</span></li>
            <li><span>Tu</span></li>
            <li><span>We</span></li>
            <li><span>Th</span></li>
            <li><span>Fr</span></li>
            <li><span>Sa</span></li>
            <li><span>Su</span></li>
          </ul>
          <ul class="calendar__list">
          </ul>
        </div>
      </div>
    </div>
  </section>



  <section class="news-gallery">
    <ul>
      <li></li>
    </ul>
  </section>
</main>