<section class="not-found is-hidden">
  <div class="container">
    <h2 class="not-found__title">We haven’t found news from this category</h2>
    <picture>
      <source
        srcset="
          ./images/not-found-desktop-1x.png 1x,
          ./images/not-found-desktop-2x.png 2x
        "
        media="(min-width: 1280px)"
      />
      <source
        srcset="
          ./images/not-found-tablet-1x.png 1x,
          ./images/not-found-tablet-2x.png 2x
        "
        media="(min-width: 768px)"
      />
      <source
        srcset="
          ./images/not-found-mobile-1x.png 1x,
          ./images/not-found-mobile-2x.png 2x
        "
        media="(max-width: 767px)"
      />
      <img
        class="not-found__image"
        src="./images/not-found-desktop-1x.png"
        alt="not found image"
      />
    </picture>
  </div>
</section>
