<div class="page-container">
  <!-- <button class="first-page">
    <i class="fas fa-angle-double-left"></i>
  </button> -->
  <button class="prev-page" disabled>
    <svg class="paginations__svg">
      <use href="./images/icon-sprites.svg#vector-10"></use>
    </svg>
    <i class="fas fa-angle-left">Prew</i>
  </button>
  <div id="pagination"></div>
  <button class="next-page">
    <i class="fas fa-angle-right">Next</i>
    <svg class="paginations__svg">
      <use href="./images/icon-sprites.svg#vector-9"></use>
    </svg>
  </button>
  <!-- <button class="last-page">
    <i class="fas fa-angle-double-right"></i>
  </button> -->
</div>
