<section class="weather">

  <div class="weather__group">
    <div class="weather__temperaturedate">
      <span class="weather__temperature">23</span>
      <sup class="weather__symbol">&#176;</sup>
    </div>
    <div class="weather__splitter"> </div>

    <div class="weather__typegroup">
      <span class="weather__type">Sunny</span>
      <div class="weather__citygroup">
        <svg class="weather__svg">
          <use href="../images/Frame.svg"></use>
        </svg>
        <p class="weather__city">West Jakarta</p>
      </div>
    </div>

  </div>

  <div class="weather__img">

  </div>

  <div class="weather__date">
    <span class="weather__dayofweek">Mon</span>
    <span class="weather__dateofweek">21 Jan 2021</span>
  </div>

  <div class="weather__refgroup">
    <a class="weather__ref" href="https://sinoptik.ua/" rel="noopener noreferrer" target="_blank">weather for week</a>
  </div>
</section>