
<section class="weather">

  <div class="weather__group">
    <div class="weather__temperaturedate">
      <span class="weather__temperature"></span>
      <span class="weather__symbol">&#176;</span>
    </div>
    <div class="weather__splitter"> </div>

    <div class="weather__typegroup">
      <span class="weather__type"></span>
      <div class="weather__citygroup">
        <svg class="weather__svg">
          <use href="./images/icon-sprites.svg#location"></use>
        </svg>
        <p class="weather__city"></p>
      </div>
    </div>

  </div>

  <div class="weather__img">
    <img class="weather__imgvalue" src="" alt="">
  </div>

  <div class="weather__date">
    <span class="weather__dayofweek"></span>
    <span class="weather__dateofweek"></span>
  </div>

  <div class="weather__refgroup">
    <a class="weather__ref" href="https://sinoptik.ua/" rel="noopener noreferrer" target="_blank">weather for week</a>
  </div>

</section>