.btn {
    border-radius: 20px;
    padding: 8px 13px;
    display: flex;
    gap: 10px;
    justify-content: center;
    align-items: center;

}

.category__btn {
    background-color: white;
    border: 1px solid #4440F7;
    color: #4440F7;
    -webkit-transition: background-color 250ms cubic-bezier(0.4, 0, 0.2, 1);
    transition: background-color 250ms cubic-bezier(0.4, 0, 0.2, 1);
    font-size: 12px;
}

.category__btn:hover,
.category__btn:focus,
.isActiveBtn {
    background: #4440F6;
    color: white;
}

.category__btn:focus>.category__icon--up,
.category__btn:hover>.category__icon--up,
.isActiveBtn>.category__icon--up {
    fill: none;
    display: none;
}

.category__btn:focus>.category__icon--down,
.category__btn:hover>.category__icon--down,
.isActiveBtn>.category__icon--down {
    fill: white;
    display: inline-block;
}