.category__container {
    display: flex;
    justify-content: space-between;
}
.calendar {
    position: relative;
    display: flex;
    align-items: baseline;
}

.calendar__input-wrapper {
    width: 152px;
    position: relative;
    display: flex;
    align-items: center;
    margin-left: 37px;

}

@media screen and (min-width: 768px) {
    .calendar__input-wrapper {
    width: 168px;
    }
}



.calendar__input {
    width: 100%;
    /* height: 31px; */
    padding-top: 5px;
    padding-bottom: 5px;
    padding-left: 42px;
    background-color: inherit;
    border: 1px solid var(--light-theme-main-color);
    border-radius: 20px;
    outline: none;
    box-shadow: none;

    font-family: 'Manrope';
    font-style: normal;
    font-weight: 400;
    font-size: 14px;
    line-height: 1.5;
    letter-spacing: 0.02em;
    color: rgba(17, 19, 33, 0.4);
    transition: border 250ms cubic-bezier(0.4, 0, 0.2, 1), 
    background-color 250ms cubic-bezier(0.4, 0, 0.2, 1), 
    color 250ms cubic-bezier(0.4, 0, 0.2, 1);
}



.calendar__input::placeholder {
    color: inherit;
    font-family: 'Manrope';
    font-style: normal;
    font-weight: 400;
    font-size: 12px;
    line-height: 1.75;
    letter-spacing: 0.02em;
    color: #FFFFFF;
    opacity: 0.4;
}





.calendar__input-icon--calendar {
    fill: #4440F7;
    position: absolute;
    left: 12px;
}


.calendar__input-icon--up {
    display: none;
    position: absolute;
    right: 12px;
 } 



 .calendar__input-wrapper.reversed > .calendar__input-icon--up {
    display: block;
    fill: #FFFFFF;

}

.calendar__input-wrapper.reversed > .calendar__input-icon--calendar {
    fill: #FFFFFF;
}

.calendar__input-icon--down {
    display: block;
    position: absolute;
    right: 12px;
    fill: #A2A2A2;

    
}

.calendar__input-wrapper.reversed > .calendar__input-icon--down {
    display: none;
}


.calendar__input-wrapper.reversed > .calendar__input {
    color: #FFFFFF;
    background-color: #4440F6;
    border: 1px solid #4440F6;

}
/* .calendar__input::placeholder */

.calendar__label {
    
font-family: var(--main-font);
font-weight: 700;
font-size: 18px;
line-height: 1.4;


}

.calendar__body {
    display: none;
    width: 250px;
    /* height: 250px; */
    padding-top: 27px;
    padding-left: 16px;
    padding-right: 16px;
    padding-bottom: 20px;

    background-color: #F8F8F8;
    box-shadow: 0px 10px 60px rgba(0, 0, 0, 0.1);
    border-radius: 20px;
    position: absolute;
    right: 0;
    overflow: hidden;
    top: 32px;
    transform: translateY(100%);
    transform-origin: top center;
    transition: transform 250ms cubic-bezier(0.4, 0, 0.2, 1);
    }

.calendar__body.is-open {
    /* display: block; */
    z-index: 1;
    display: flex;
    flex-direction: column;
    pointer-events: auto;
    cursor: pointer;
    transform: translateY(0);
    
}


.calendar__body-wrapper {
    display: flex;
    justify-content: space-between;
    margin-bottom: 13px;
}

.calendar__body-caption {
    display: flex;
    align-items: center;
}

.calendar__month {
    font-family: var(--main-font);
    font-weight: 500;
    font-size: 16px;
    line-height: 1.4;

    letter-spacing: -0.408px;
    font-feature-settings: 'case' on;

    color: #000000;



}

.calendar__year-btn {
    /* margin-left: 8px; */
    padding: 8px;
    color: #4440F6;
    transition: transform 250ms cubic-bezier(0.4, 0, 0.2, 1); 

}

.calendar__month-btn--next,
.calendar__month-btn--prev {
    display: flex;
    justify-content: center;
    align-items: center;
    color: #4440F6;
    transition: transform 250ms cubic-bezier(0.4, 0, 0.2, 1); 
}

.calendar__month-btn--next:hover,
.calendar__month-btn--prev:hover,
.calendar__year-btn:hover {
    transform: scale(1.15);
}


.calendar__month-btn--prev {
    margin-right: 33px;
}

.calendar__header-item {
    font-family: var(--main-font);
    font-size: 12px;
    line-height: 1.5;
    text-align: center;
    letter-spacing: -0.078px;
    color: rgba(60, 60, 67, 0.3);

}

.calendar__date {
    width: 26px;
    height: 26px;
    display: flex;
    justify-content: center;

    font-family: var(--main-font);
    font-weight: 500;
    font-size: 14px;
    line-height: 1.8;
    letter-spacing: 0.38px;
    color: #000000;


}


.calendar__month-arrows {
    display: flex;
}

.calendar__header{
    margin-bottom: 14px;
}
.calendar__header,
.calendar__list {
  display: grid;
  grid-template-columns: repeat(7, 1fr);

}

.calendar__list {
    grid-template-rows: repeat(5, 1fr);
    height: 180px;
}

.calendar__date--active {
  background-color: #4440F6;
  border-radius: 50%;

}

.calendar__date--inactive {
    color: #5f677551;
}

.calendar__date--weekend {
    color: #5F6775;

}

/* .calendar__dates-wrapper {
    display: flex;
    flex-wrap: wrap;
    justify-content: center;
} */