.page-container {
  display: flex;
  align-items: center;
  flex-wrap: wrap;
  justify-content: center;
  margin-top: 60px;
  margin-bottom: 150px;
}
.page-container i {
  cursor: pointer;
  font-size: 18px;
  color: var(--color-dark);
  pointer-events: none;
}
.page-container button {
  display: flex;
  align-items: center;
  justify-content: center;
  cursor: pointer;
  background-color: transparent;
  border: none;

  width: 72px;
  height: 28px;

  background: #f4f4f4;
  border: 1px solid #4440f6;
  border-radius: 2px;

  font-family: 'Manrope';
  font-style: normal;
  font-weight: 500;
  font-size: 16px;
  line-height: 22px;
  color: #111321;
}

/* Footer @media 768px ... */
@media screen and (min-width: 768px) {
  .page-container button {
    width: 78px;
    height: 31px;
  }
}
.page-container button:disabled .paginations__svg {
  fill: #aaadc7;
}
.page-container button:disabled i {
  color: #aaadc7;
}

#pagination {
  display: flex;
  align-items: center;
  flex-wrap: wrap;
}
#pagination li {
  list-style: none;
  cursor: pointer;
  border-radius: 5px;
  overflow: hidden;
  margin: 0 2px;
  width: 28px;
  height: 28px;
  display: flex;
  justify-content: center;

  text-align: center;
}

@media screen and (min-width: 768px) {
  #pagination li {
    width: 33px;
    height: 31px;
    margin: 0 4px;
  }
}
#pagination li.active {
  background-color: #4440f6;
}
#pagination li.active a {
  color: #fff;
}
#pagination li a {
  text-decoration: none;
  padding-top: 4px;
  height: 100%;
  font-family: 'Manrope';
  font-weight: 500;
  font-size: 16px;
  line-height: 22px;
  text-align: center;
  color: #111321;
  pointer-events: none;
}
#pagination li:hover {
  background-color: #4440f6;
}
#pagination li:hover a {
  color: #fff;
}

.pg-item {
  background: #f4f4f4;
  border: 1px solid #4440f6;
  border-radius: 2px;
}

.paginations__svg {
  fill: #111321;
  margin-left: 6px;
  margin-right: 6px;
  display: block;
  width: 6px;
  height: 10px;
}
