/**
  |============================
  | include css partials with
  | default @import url()
  |============================
*/
@import url('./reset.css');
@import url('./normalize.css');

/* filter-buttons */
@import url('./btn.css');
@import url('./icon.css');
/* main */

/* header Sergiy Smilichenko */
@import url('./header.css');

:root {
  box-sizing: border-box;
  --main-font: 'Manrope', Arial, sans-serif;
  --weather-font: 'Roboto', Arial, sans-serif;
  --toggle-font: 'Poppins', Arial, sans-serif;
  --light-theme-main-color: #111321;
  --dark-theme-main-color: #F4F4F4;
  --accent-violet-color: #4B48DB;
  font-size: 16px;
  line-height: 22px;
  font-weight: 400;
}

.calendar__header,
.calendar__list {
  display: grid;
  grid-template-columns: repeat(7, 1fr);
}

.calendar__date.active {
  background-color: blue;
}