@import url('./reset.css');
@import url('./weather.css');
@import url('./normalize.css');
@import url('./firebase.css');

/* filter-buttons and calendar */
@import url('./btn.css');
@import url('./icon.css');
@import url('./calendar.css');

@import url('./listContainer.css');
@import url('./articles_gallery.css');
@import url('./paginations.css');

/* not-found */
@import url('./not-found.css');


/* header&footer Sergiy Smilichenko */
@import url('./header.css');
@import url('./footer.css');

:root {
  box-sizing: border-box;
  --main-font: 'Manrope', Arial, sans-serif;
  --weather-font: 'Roboto', Arial, sans-serif;
  --toggle-font: 'Poppins', Arial, sans-serif;
  --light-theme-main-color: #111321;
  --dark-theme-main-color: #F4F4F4;
  --accent-violet-color: #4B48DB;
  --background-footer: #7A7A7A;
  --input-active-bg-color: #4440F6;
  --input-active-color: #FFFFFF;
  --switcher-moon: #5f6775;
  font-size: 16px;
  line-height: 1.4;
}

:root body.dark-mode {
  --dark-theme-main-color: #2e2e2e;
  --light-theme-main-color: #f4f4f4;
  --accent-violet-color: #f4f4f4;
  --switcher-moon: #4440f7;
}

body {
  height: 100vh;
  background-color: var(--dark-theme-main-color);
  color: var(--light-theme-main-color);

  font-weight: 400;
  font-style: normal;
  font-family: Manrope;
}

.calendar__header,
.calendar__list {
  display: grid;
  grid-template-columns: repeat(7, 1fr);
}

.calendar__date.active {
  background-color: blue;
}