@import url('./reset.css');
@import url('./weather.css');
@import url('./normalize.css');
@import url('./btn.css');
@import url('./icon.css');
@import url('./listContainer.css');
@import url('./articles_gallery.css');
@import url('./paginations.css');


/* not-found */
@import url('./not-found.css');

:root {
  box-sizing: border-box;
  --main-font: 'Manrope', Arial, sans-serif;
  --weather-font: 'Roboto', Arial, sans-serif;
  --toggle-font: 'Poppins', Arial, sans-serif;
  --light-theme-main-color: #111321;
  --dark-theme-main-color: #f4f4f4;
  --accent-violet-color: #4b48db;
  font-size: 16px;
  line-height: 22px;
  font-weight: 400;
}

.logo {
  font-family: var(--main-font);
  font-style: normal;
  font-weight: 700;
  font-size: 42px;
  line-height: 57px;

  color: var(--light-theme-main-color);
}

.page-header {
  display: flex;
  align-items: center;
  justify-content: space-between;
  padding: 28px 16px;

  border-bottom: 1px solid rgba(0, 0, 0, 0.2);
}

.page-header__nav {
  margin: 0 auto;
}

.page-header__nav-list {
  display: flex;
  align-items: center;
  gap: 70px;
}

.page-header__nav-link {
  font-family: var(--main-font);
  font-style: normal;
  font-weight: 700;
  font-size: 18px;
  line-height: 25px;
  color: var(--light-theme-main-color);
}

.page-header__search-input {
  display: block;
  width: 288px;
  padding: 4px 12px 4px 48px;
  border: 1px solid #000000;
  border-radius: 20px;
  font-family: var(--toggle-font);
  font-style: normal;
  font-weight: 400;
  font-size: 14px;
  line-height: 171%;
  letter-spacing: 0.02em;
  color: var(--light-theme-main-color);
  opacity: 0.4;
}

.theme-toggle {
  margin-left: auto;
}

.theme-name {
  font-family: var(--toggle-font);
  font-style: normal;
  font-weight: 400;
  font-size: 18px;
  line-height: 133%;
  color: var(--accent-violet-color);
}

.calendar__header,
.calendar__list {
  display: grid;
  grid-template-columns: repeat(7, 1fr);
}

.calendar__date.active {
  background-color: blue;
}
